server:
  port: 8000

spring:
  application:
    name: gateway-server

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8080/realms/master/protocol/openid-connect/certs

  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true

          routes:
            - id: user-service
              uri: lb://USER-SERVICE
              predicates:
                - Path=/auth/**,/api/users/**,/api/admin/users/**,/users/**

            - id: salon-service
              uri: lb://SALON-SERVICE
              predicates:
                - Path=/salons/**,/api/salons/**,/api/admin/salons/**

            - id: payment-service
              uri: lb://PAYMENT-SERVICE
              predicates:
                - Path=/api/payments/**

            - id: booking-service
              uri: lb://BOOKING-SERVICE
              predicates:
                - Path=/api/bookings/**

            - id: category-service
              uri: lb://CATEGORY-SERVICE
              predicates:
                - Path=/api/categories/**

            - id: offering-service
              uri: lb://OFFERING-SERVICE
              predicates:
                - Path=/api/service-offering/**

            - id: notifications-service
              uri: lb://NOTIFICATIONS-SERVICE
              predicates:
                - Path=/api/notifications/**

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8070/eureka/
